{
    "extends": "airbnb-base",
    "rules":{
        "func-names": ["error", "never"],
        "indent": "off",
        "linebreak-style": "off",
        "prefer-arrow-callback": "off"
    },
    "globals":{
        "document": false,
        "XMLHttpRequest": false,
        "visualizer": false
    }
}