html{
    background-color: rgba(87, 246, 22, 0.22);
    min-width: 400px;
    min-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    font-size: 100%;
}

/*Header*/
#head{
    color: #f5f5f5;
    background-color: #008d00;
    height: 5.32em;
    width:100%;
    margin: 0;
    padding:0;
    position: relative;
}
#logo{
    float: left;
    height: 5.35em;
    margin-left: 3.5em;
}
#sitename{
    font-family: Harrington;
    font-size: 3.3em;
    float: left;
    margin-top: 0.25em;
    margin-left:0.3em;
}
#change_color:hover{
    color: #f8f800;
}
#sign{
    color: #f5f5f5;
    font-size: 1.15em;
    text-align: center;
    border: 0.1em solid;
    border-color: #f5f5f5;
    background-color: #008d00;
    display: block;
    float:right;
    width: 5em;
    margin-top: 1.6em;
    margin-right: 3.2em;
}
#sign:hover{
    cursor: pointer;
    box-shadow: inset 0 0 1.25em #f5f5f5;
}
.create{
    display:none;
    border: 0.165em solid;
    border-color: #f5f5f5;
    border-radius: 50%;
    background-color: #008d00;
    float:right;
    width: 3.5em;
    height: 3.5em;
    padding:0;
    margin-top: 1.45em;
    margin-right: 2.5em;
}
.add{
    color: #f5f5f5;
    font-size: 3.6em;
    line-height: 0.95em;
    margin: 0;
}
.create:hover {
    cursor: pointer;
    box-shadow: inset 0 0 1.25em #f5f5f5;
}
#user{
    display:none/*inline-block*/;
    font-size: 1.5em;
    float: right;
    margin-top: 1.2em;
    margin-right: 1.2em;
}
.cleaner{
    clear: both;
    margin: 0;
    padding:0;
}
/*Список новостей*/
.left-column{
    display: inline-block;
    float: left;
    margin: 0 0 0 2%;
    width: 75%;
}
.article {
    float: left;
    display: block;
    width: 42%;
    height: 15em;
    overflow: auto;
    text-align: left;
    margin: 1vw 1vw 2vw 3vw;
    box-shadow: 0vw 0vw 0.5vw #005600;
    border-radius: 0.4vw;
    background-color: white;
}
a{
    text-decoration: none;
}
.article:hover{
    box-shadow: 0vw 0vw 1vw black;
    cursor: pointer;
}
.title{
    clear: both;
    display: block;
    margin: 0.5vw 0.5vw 0 0.5vw;
    color: black;
    word-break: normal;
    overflow: hidden;
}
.title:hover{
    text-decoration: underline;
}
.tag{
    display: block;
    word-break: normal;
    word-wrap: break-word;
    color: gray;
    margin: 1% 3% 1% 3%;
}
.time{
    display: block;
    float: left;
    color: gray;
    margin: 0.1% 2% 0 3%;
}
.summary{
    display: table-row;
    color: black;
    margin: 0;
    word-break: normal;
}
.date{
    float: left;
    display: block;
    color: black;
    margin: 1% 3% 0 3%;
}
.author{
    float: right;
    color: black;
    word-break: normal;
    text-align: right;
    margin: 1% 3% 0 3%;
}

/*Фильтр*/
.right-column{
    display: inline-block;
    margin: 0;
    width: 23%;
}
.filter{
    display: block;
    width: 80%;
    height: auto;
    text-align: center;
    box-shadow: 0 0 0.5vw #005600;
    border-radius: 0.4em;
    background-color: white;
}
.strong{
    font-weight: bold;
}
.in1{
    width: 88%;
    margin-bottom: 0.7vw;
}
.in2{
    width: 88%;
    margin-bottom: 0.7vw;
}
.in3{
    width: 88%;
    margin-bottom: 1.2vw;
}
.filt{
    display: block;
    width: 32%;
    background-color: whitesmoke;
    margin-left:32%;
    word-wrap: break-word;
    box-shadow: inset 0 0 0.5vw #c9c9c9;
    padding: 0;
}
.filt:hover{
    cursor: pointer;
    background-color: #c9c9c9;
}

.show-more{
    clear: both;
    display: block;
    margin: 1em auto;
    box-shadow: inset 0 0 0.5vw #c9c9c9;
}
.show-more:hover{
    cursor: pointer;
    background-color: #c9c9c9;
}

#foot {
    background-color: #008d00;
    right:0;
    color: #f5f5f5;
    text-align: center;
    width:100%;
    height: auto;
    margin: 0;
    clear: both;
}

/*Просмотр отдельной новости*/
.news{
    display: none;
    width: 100%;
    position: relative;
    word-wrap: normal;
    text-align: center;
    margin: 0 auto;
}
.hat{
    font-size: 1.9em;
    word-break: normal;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.edit{
    display:none;
    width: auto;
    height: 2em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    cursor: pointer;
}
.delete{
    display:none;
    width: auto;
    height: 2em;
    margin-bottom: 0.5em;
    padding: 0;
    cursor: pointer;
}
.time-date{
    display: inline-block;
    color: gray;
    margin: 0 0 1em 0;
    font-size: 1em;
}
.written-by{
    display: inline-block;
    color: gray;
    margin: 0 0 1em 0;
    font-size: 1em;
}
.plot{
    display: block;
    font-size: 1.1em;
    word-break: normal;
    text-align: center;
    margin:  0 20%;
}

/*Поле редоктирования/добавления новостей*/
.add-edit{
    width: 100%;
    display: none;
    word-wrap: normal;
    text-align: center;
    margin: 0 auto;
}
.must{
    display: inline-block;
    font-size: 1em;
}
.form-name{
    font-size: 2.4em;
    margin:0;
}
.before-name{
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.4em 0 0.5em;
}
.in-name {
    display: inline-block;
    font-size: 1em;
    width:40%;
}
.before-summary{
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.4em 0 0;
}
.in-summary {
    display: inline-block;
    font-size: 1em;
    width:40%;
    margin: 0;
}
.before-content{
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.4em 0 1.9em;
}
.in-content {
    display: inline-block;
    font-size: 1.4em;
    width:40%;
    height: 10em;
}
.before-link{
    display: none;
    font-size: 1.2em;
    margin: 0;
}
.link {
    display: none;
    font-size: 1em;
    width:40%;
    margin-left: 1em;
}
.info{
    display: block;
    font-size: 0.8em;
}
.save{
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
}
.id-article{
    display: inline-block;
    margin: 0 0 1em 0;
}
.name-id-article{
    display: inline-block;
    margin:0;
}
.who-wrote{
    display: inline-block;
    margin: 0 0 1em 0;
}
.name-who-wrote{
    display: inline-block;
    margin: 0;
}
.date-write{
    display: inline-block;
    margin: 0;
}
.name-date-write{
    display: inline-block;
    margin: 0;
}

/*Ошибка*/
.error{
    display: none;
    width: 100%;
    height: 100%;
    word-wrap: normal;
    text-align: center;
    margin: 0 auto;
}
.warning{
    color: red;
    margin: 0;
    font-size: 3em;
}
.back-to-main{
    color: blue;
}
.back-to-main:hover{
    text-decoration: underline;
    cursor: pointer;
    padding:0;
}

/*Авторизация*/
.authorization{
    display:none;
    width: 100%;
    word-wrap: normal;
    text-align: center;
    margin: 0 auto;
}
.log-in{
    font-size: 2.6em;
    margin: 0;
}
.before{
    font-size: 1.2em;
    margin: 1em  0;
}
.user-name, .password{
    font-size: 1em;
    width:20%;
    margin: 0;
}
.authorize{
    font-size: 1.4em;
    margin: 1em 0;
    cursor: pointer;
}

@media only screen and (min-width: 680px) and (max-width: 900px){
    #head{
        height: 3.6em;
    }
    #logo{
        height: 3.6em;
        margin-left: 2.5em;
    }
    #sitename{
        font-size: 2.5em;
        margin-top: 0.15em;
        margin-left:0.25em;
    }
    #sign{
        font-size: 0.8em;
        width: 3.8em;
        margin-top: 1.6em;
        margin-right: 3em;
    }
    .create{
        width: 2.5em;
        height: 2.5em;
        margin-top: 1em;
        margin-right: 2em;
    }
    .add{
        font-size: 2.6em;
        line-height: 0.95em;
    }
    #user{
        font-size: 1.2em;
        margin-top: 1em;
        margin-right: 1.2em;
    }
    .filt{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 680px){
    #head{
        height: 2.8em;
    }
    #logo{
        height: 2.8em;
        margin-left: 0;
    }
    #sitename{
        font-size: 1.5em;
        margin-top: 0.3em;
        margin-left:0.25em;
    }
    #sign{
        font-size: 0.6em;
        width: 3.6em;
        margin-top: 1.6em;
        margin-right: 0.1em;
    }
    .create{
        width: 2em;
        height: 2em;
        margin-top: 0.7em;
        margin-right: 0.8em;
    }
    .add{
        font-size: 2em;
        line-height: 0.95em;
    }
    #user{
        font-size: 1em;
        margin-top: 0.8em;
        margin-right: 0.8em;
    }
    .picture{
        max-height: 13em;
    }
    .hat{
        font-size: 1.6em;
        word-brake: normal;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
    }
    .plot{
        margin: 0 2%;
    }
    .filt{
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 780px){
    .article{
        float: none;
        width: 80%;
        margin-left: 6.5vw;
        height: 13em;
    }
    .user-name, .password{
        width:12em;
    }
}